In [2]:
import pandas as pd
pd.__version__

'2.2.2'

In [3]:
data = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv");

In [4]:
len(data)

9704

In [6]:
data['fuel_type'].value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

In [10]:
data[data['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

23.759122836520497

In [11]:
data['horsepower'].median()

149.0

In [12]:
data['horsepower'].mode()

0    152.0
Name: horsepower, dtype: float64

In [14]:
data['horsepower'].fillna(152.0).median()

152.0

In [36]:
X = data[data['origin'] == 'Asia'][['vehicle_weight','model_year']]

In [37]:
X = X.head(7)

In [38]:
X = X.values

In [39]:
XTX = X.T @ X

In [41]:
import numpy as np
XTX_inv = np.linalg.inv(XTX)

In [42]:
y = [1100, 1300, 800, 900, 1000, 1100, 1200]

In [43]:
XVV = XTX_inv @ X.T

In [44]:
w = XVV @ y

In [45]:
w.sum()

np.float64(0.5187709081074016)